<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <script th:src="@{/static/jquery.min.js}"></script>
    <script type="text/javascript"></script>

<body>

<!-- 结果栏 -->
<div class="result-div">
    <embed src="/demo/showImg?instanceId=989312b9-70a9-11e9-a0fd-005056c00008" style="display:block;width:1000px;height:450px" />
</div>
</body>
</head>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <script th:src="@{/static/jquery.min.js}"></script>
    <script type="text/javascript"></script>

<body>
    失败 ！！！！
<!-- 结果栏 -->
<div class="result-div">
    <embed src="/demo/showImg?instanceId=989312b9-70a9-11e9-a0fd-005056c00008" style="display:block;width:1000px;height:450px" />
</div>
</body>
</head>
</html>
